### Vim ###
# swap
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
# session
Session.vim
# temporary
.netrwhist
*~



.bash*
.gitconfig
.sudo_as_admin_successful
.profile
.ansible*
.viminfo
gitrepos/
watchedrepo/
*.gateway.conf
*-task.toml
*.retry
