
{{ range $app := lsdir "/" }}
upstream {{ $app }} {
	least_conn;
	{{ range $inst := lsdir (print "/" $app)  }}
	{{ $service := json (getv (print "/" $app "/" $inst "/service" )) }}
	server {{  $service.address  }}:{{  $service.port  }} max_fails=3 fail_timeout=60 weight=1;
	{{ end }}
}
{{ end }}

server {
    listen       80;
{{ range $app := lsdir "/" }}
    server_name  {{ $app }}.*;

    location / {
        proxy_pass http://{{ $app }}/;
        proxy_redirect off;
    }
{{end}}
}
