---

- name: Change ownership of the repo directory before builds start
  action:
    module: file
    path: "{{ NEW_GIT_DIR }}"
    owner: 10000 
    recurse: true 
    mode: "g+rwx"

- name: Ensure npm packages are installed
  shell: |
    docker -H {{ DOCKER_HOST }} run \
    --rm -v {{ NEW_GIT_DIR }}:/UI --workdir /UI \
    -u 10000 \
    node.local/nodejs-bower-gulp:latest sh -c "npm install"
  register: RESULT
  changed_when: "RESULT.stdout != ''"

- name: Ensure Bower libraries are installed
  shell: |
    docker -H {{ DOCKER_HOST }} run \
    --rm -v {{ NEW_GIT_DIR }}:/UI --workdir /UI \
    -u 10000 \
    node.local/nodejs-bower-gulp:latest sh -c "bower install"
  register: RESULT
  changed_when: "RESULT.stdout != ''"
 
- name: Build distribution files by running Gulp
  shell: |
    docker -H {{ DOCKER_HOST }} run \
    --rm -v {{ NEW_GIT_DIR }}:/UI --workdir /UI \
    -u 10000 \
    node.local/nodejs-bower-gulp:latest sh -c "gulp --silent"

